.profile{
        display: flex;
        flex-direction: column;
        background-color:rgb(250, 240, 228);
}
.description{
        color: blue;
        display: flex;
                flex-direction: column;
                        margin-left: 20px;


}
.avatar{
        width: 100px;
        max-height: 200px;
        object-fit: cover;
        object-position: center;
        justify-content: center;
        margin-left: 20px;
        margin-top: 12px;
}

.name {
    color: blue;
    margin-left: 20px;
font-size: 20px;
margin-top: 10px;

}
.tag{
        color: blue;
        margin-left: 20px;
        font-size: 20px;
}
.location{
        color: blue;
        margin-left: 20px;
        font-size: 20px;
}
.stats{
    color:orangered;
display: flex;
        flex-direction: column;
                margin-left: 20px;
                
}


ul {
        font-size: 20px;
        margin-left: 20px;
        padding-left: 20px;
        list-style: none;
}